.app {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.modelsWrapper {
  height: 50vh;
  background-color: rgb(125, 206, 206);
}

.textWrapper {
  height: 50vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  position: absolute;
}

.text {
  height: 100%;
}
